In [1]:
import pandas as pd
import numpy as np


path = "purchase_data.csv"

file = pd.read_csv(path)
file.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
file.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [3]:
average = file["Price"].mean()
total_revenue = file["Price"].sum()
unique_items = file["Item Name"].nunique()
number_purchases = file["Purchase ID"].count()

In [4]:
list = [{"Average Price": average ,"Total Revenue": total_revenue,"Number of Unique Items": unique_items ,"Number of Purchases": number_purchases}]
graph = pd.DataFrame(list)
print(graph)

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       3.050987                  780                     179        2379.77

In [5]:
gender = file["Gender"].value_counts()
gender_percentage = file["Gender"].value_counts(normalize = True)
print(gender_percentage.round)

<bound method Series.round of Male                     0.835897
Female                   0.144872
Other / Non-Disclosed    0.019231
Name: Gender, dtype: float64>

In [6]:
list_2 = [{"Total Count": [gender], "Percentage of Players": [gender_percentage]}]
graph_2 = pd.DataFrame(list_2)
print(graph_2)

                               Percentage of Players       Total Count
0  [[0.835897435897, 0.144871794872, 0.0192307692...  [[652, 113, 15]]

In [7]:
gender_ave_f = file.loc[file["Gender"] == "Female",['Price']].mean()
gender_total_f = file.loc[file["Gender"] == "Female",['Price']].sum()
gender_count_f = file.loc[file["Gender"] == "Female",['Purchase ID']].count()
gender_ave_m = file.loc[file["Gender"] == "Male",['Price']].mean()
gender_total_m = file.loc[file["Gender"] == "Male",['Price']].sum()
gender_count_m = file.loc[file["Gender"] == "Male",['Purchase ID']].count()
gender_ave_n = file.loc[file["Gender"] == "Other / Non-Disclosed",['Price']].mean()
gender_total_n = file.loc[file["Gender"] == "Other / Non-Disclosed",['Price']].sum()
gender_count_n = file.loc[file["Gender"] == "Other / Non-Disclosed",['Purchase ID']].count()

gender_count_m

Purchase ID    652
dtype: int64

In [8]:
list_3 = [{"Purchase Count": [gender_count_f], "Percentage of Players": []}]

list_3

[{'Percentage of Players': [], 'Purchase Count': [Purchase ID    113
   dtype: int64]}]

In [9]:
# bins Age

bins = [0,10,15,19,25,29,35,39,50]

file["Age"]= pd.cut(file["Age"],bins)

In [10]:
# file = file.loc[:, file.columns.isin(['Gender','Age','Price'])]

file.groupby('Age')['Gender'].value_counts()

# file = file.loc[:, file.columns != 'Item ID']

Age       Gender
(0, 10]   Male                      25
          Female                     7
(10, 15]  Male                      41
          Female                    11
          Other / Non-Disclosed      2
(15, 19]  Male                      85
          Female                    14
          Other / Non-Disclosed      2
(19, 25]  Male                     352
          Female                    65
          Other / Non-Disclosed      7
(25, 29]  Male                      37
          Female                     5
(29, 35]  Male                      76
          Female                     9
          Other / Non-Disclosed      2
(35, 39]  Male                      24
          Other / Non-Disclosed      2
          Female                     1
(39, 50]  Male                      12
          Female                     1
Name: Gender, dtype: int64

In [1]:
file = file.loc[:, file.columns.isin(['Gender','Age','Price'])]


file.groupby('Age')['Price'].sum()
file.groupby('Age')['Price'].mean()
count = file.groupby('Age')['Price'].count()
file.groupby('Age')['Price'].sum() / count

NameError: name 'file' is not defined

In [19]:

# lol = file.stack().groupby('Age').value_counts().unstack()

# file = file.loc[:, file.columns.isin(['SN','Purchase ID','Price'])]

# file.sort_values('SN',ascending = False)

#         good one  # lol = file['SN'].value_counts()

# # file.sort_values(['SN','Price'],ascending = False).head()
# lol

# file.groupby(['SN', 'Price']).agg({'SN': 'value_counts', 'Price': 'sum'})
# lol.crosstab(index =lol['Price'], columns =lol['SN'])